# ===== Tareas del sistema / red =====
CONFIG_ESP_EVENT_LOOP_TASK_STACK_SIZE=4096
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=4096
CONFIG_ESP_TIMER_TASK_STACK_SIZE=4096
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# ===== MQTT =====
CONFIG_MQTT_TASK_STACK_SIZE=6144

# (opcional) menos ruido de logs por defecto
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
